<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Insta profile picture</title>

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://unpkg.com/tailwindcss@1.4.5/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="/assets/imageviewer.min.css" rel="stylesheet" />
    <link href="/assets/main.css" rel="stylesheet" />

    <!-- Google Tag Manager -->
    <script>
      if (
        !(document.cookie.indexOf("OptOut=true") > -1) &&
        !(location.hostname === "127.0.0.1")
      ) {
        (function(w, d, s, l, i) {
          w[l] = w[l] || [];
          w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
          var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != "dataLayer" ? "&l=" + l : "";
          j.async = true;
          j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
          f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-WCFW4SD");
      }
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="bg-gray-100">
    <a
      href="https://github.com/Simolation/insta-pp"
      class="github-corner"
      aria-label="View source on GitHub"
      ><svg
        width="80"
        height="80"
        viewBox="0 0 250 250"
        style="fill:#fff; color:#8a3ab9; position: absolute; top: 0; border: 0; right: 0;"
        aria-hidden="true"
      >
        <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
        <path
          d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
          fill="currentColor"
          style="transform-origin: 130px 106px;"
          class="octo-arm"
        ></path>
        <path
          d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
          fill="currentColor"
          class="octo-body"
        ></path>
      </svg>
    </a>
    <div id="app" class="sized-box mx-auto mt-4 p-6">
      <h1 class="font-bold text-2xl mb-2 text-gray-900">
        Full size profile picture
      </h1>
      <h2 class="text-md mb-2 text-gray-800">
        Just enter the users profile name or the profile URL
      </h2>
      <form class="mt-6 flex" @submit.prevent="searchUser">
        <input type="text" v-model="profileInput" class="form-input block w-full sm:text-sm sm:leading-5 p-4 shadow-lg rounded-md bg-white" required autofocus placeholder="Profile name or URL" />
        <button
            class="flex-shrink-0 text-sm text-gray-800 shadow-lg ml-2 rounded-md bg-white hover:bg-gray-200 p-2 focus:outline-none"
            type="submit"
          >
            Search
          </button>
      </form>
      <div class="flex">
        <transition name="fade" mode="out-in">
          <div class="mx-auto mt-12" v-if="loading" key="loading">
            <div class="spinner">
              <div class="dot1"></div>
              <div class="dot2"></div>
            </div>
            <span class="text-gray-600"
              >Searching '<span class="font-bold">{{ currentRequest }}</span>'
              ...</span
            >
          </div>
          <div class="mx-auto mt-6" v-if="error" key="error">
            <p class="text-red-600">
              '<span class="font-bold">{{ currentRequest }}</span>' could not be
              laoded :/
            </p>
          </div>
          <div class="mt-12 mx-auto inline-block" v-if="user" key="profile">
            <div class="flex-shrink-0 group block focus:outline-none">
              <div class="flex items-center">
                <div>
                  <img class="inline-block h-32 w-32 rounded-full shadow-lg cursor-zoom" :src="user.profile_pictures.normal" @click="fullSize" />
                </div>
                <div class="ml-8">
                  <p class="text-3xl leading-5 font-bold text-gray-800">
                    {{ user.username }}
                  </p>
                  <p class="text-md leading-4 font-medium text-gray-600 mt-4">
                    {{ user.full_name }}
                  </p>
                  <p class="text-md leading-4 font-medium text-gray-500 mt-4">
                    {{ user.bio }}
                  </p>
                </div>
              </div>
            </div>
            <div class="mt-8 grid grid-cols-3 border-b-2 border-t-2 border-gray-200">
              <div class="overflow-hidden rounded-lg">
                <div class="px-4 py-2 sm:p-6 text-center">
                  <dl>
                    <dd class="mt-1 text-2xl leading-9 font-bold text-gray-900">
                      {{ user.statistics.media }}
                    </dd>
                    <dt class="text-sm leading-5 font-medium text-gray-500 truncate sm:mt-2">
                      Posts
                    </dt>
                  </dl>
                </div>
              </div>
              <div class="overflow-hidden rounded-lg">
                <div class="px-4 py-2 sm:p-6 text-center">
                  <dl>
                    <dd class="mt-1 text-2xl leading-9 font-bold text-gray-900">
                      {{ user.statistics.follower }}
                    </dd>
                    <dt class="text-sm leading-5 font-medium text-gray-500 truncate sm:mt-2">
                      Followers
                    </dt>
                  </dl>
                </div>
              </div>
              <div class="overflow-hidden rounded-lg">
                <div class="px-4 py-2 sm:p-6 text-center">
                  <dl>
                    <dd class="mt-1 text-2xl leading-9 font-bold text-gray-900">
                      {{ user.statistics.following }}
                    </dd>
                    <dt class="text-sm leading-5 font-medium text-gray-500 truncate sm:mt-2">
                      Following
                    </dt>
                  </dl>
                </div>
              </div>
            </div>
            <img class="inline-block rounded-md shadow-lg cursor-zoom mt-8" :src="user.profile_pictures.hd" @click="fullSize" />
            <p
              class="text-gray-700 cursor-pointer text-center mt-4"
              @click="download"
              download
            >
              Download
            </p>
          </div>
          <div
            class="text-gray-500 p-6 mt-6"
            v-if="!user && !error && !loading"
            key="info"
          >
            You ever wanted to see the small Instagram profile picture in full
            size? Then simply copy the profile URL or profile name into the
            field above and press search. No matter if it's a public or private
            profile, you will see it in full size. Just try it.
            <br /><br />
            This service is not affiliated with or endorsed by Instagram.
          </div>
        </transition>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"
    ></script>
    <script src="/assets/imageviewer.min.js"></script>

    <script src="/assets/app.js"></script>
  </body>
</html>
